<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Crawl it!</h1>
    <form action="#" th:action="@{/}" method="post">
    <p>URL: <input type="text" name="url" /></p>
    <button type="submit">Parse</button>
    </form>
    <br>
    <br>
    <p th:text="${sitetitle}"></p>
    <div th:text="${htmlbody}">
    </div>
</body>
</html>