<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Crawl it!</h1>
    <form action="#" th:action="@{/}" method="post">
    <p>Enter URL: <input type="text" name="url" /></p>
    <button type="submit">Parse</button>
    </form>
    <br>
    <br>
    <table>
	    <tr>
		    <td style="width:50%;">
			    <p th:text="${htmltitle}"></p>
			    <div th:text="${htmlbody}"></div>
		    </td>
		    <td style="width:50%;">
				<table>
				<tr>
				<td>
				<th:block th:each="link : ${links}">
				<p th:text="link">
				
				</p>
				</th:block>
				</td>
				</tr>
				</table>
		    </td>
	    </tr>
    </table>
</body>
</html>